* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --brown-primary: #A27C16;
    --brown-secondary: #4A330F;
    --yellow-primary: #F2ED4D;
    --yellow-secondary: #D9D445;
    --orange-primary: #fec126;
    --orange-secondary: #e6a851;
    --red-primary: #F98450;
    --red-secondary: #EC4935;
    --light-pink-primary: #F9C4D8;
    --light-pink-secondary: #F391BC;
    --pink-primary: #ED1167;
    --pink-secondary: #cf5e79;
    --light-blue-primary: #35C5F0;
    --light-blue-secondary: #0AA1DE;
    --blue-primary: #2097D4;
    --blue-secondary: #177DAF;
    --blue-heavy: #175ec0;
    --blue-weak:#4994fc;
    --purple-primary: #9B3D97;
    --purple-secondary: #672D8F;
    --black:#000;
    --gray-primary: #959494;
    --gray-secondary: #242021;
    --white:#ebe5e5;
}
body {
    background: var(--light-blue-primary);
}

/****HEADER FORMATAÇÃO******/
header {
    margin: 25px 50px;
    width: 45%;
    height: 65px;
    padding: 0 5rem;
    border-radius: 84px;
    background: #F09;
    box-shadow: 3px 3px 0px 0px #FFF;
}
header,
.section-introducao,
.programation-section,
footer {
    padding: 1.25rem;
    /* border-color: var(--black);
    border-style: solid;
    border-width: 0 1px 1px 1px; */
    
}
/* Estilo Da logo */
/* header img {
    display: block;
    margin: 1rem auto;
} */
/* .section-introducao {
     background: linear-gradient( var(--light-blue-primary),var(--blue-secondary),var(--white)); 
} */
/* .hero-course-linear {
    border-style: none;
    height: 100px;
    background: linear-gradient( var(--white), var(--orange-secondary));
} */
/* .courses-section {
    background: linear-gradient( var(--orange-secondary), #cb356b); 
} */

/* .course-programation-linear {
    border-style: none;
    height: 80px;
    background: linear-gradient(#cb356b, var(--purple-primary));
} */

/* .programation-section {
    background: linear-gradient(  var(--purple-primary), var(--blue-heavy));
} */
/* .main-footer-linear {
    border-style: none;
    height: 100px;
    background: linear-gradient( var(--blue-heavy) ,var(--blue-weak));
} */
/* Estilo do grupo de 'links' */

/* header nav {
    display: grid;
    grid-template-columns: 1fr ;
    margin: 1rem auto ;
} */

/* header nav a:nth-child(2n-1){
    text-align: right;
} */

nav a {
    color: var(--white);
    font-size: 1.10rem;
    margin-right: 10px;
    padding: .5rem 1.2rem;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    
}
nav a:hover{
    color: var(--purple-primary);
    font-weight: 700;
    border-radius: 8px;
    transition: 0.5s;
}

/*****FORMATAÇÃO MAIN*******/
.section-introducao {
    padding-right: 0;
    padding-bottom: 16rem;
}
.section-introducao img{
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}
.section-introducao .button {
    position: relative;
}
.section-introducao .button::after {
    content: '';
    background: url('../img/arrow-curve.svg');
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}
.section-introducao p {
    font-size: 1.25rem;
    padding-right:1.25rem;
}
.button {
    background-color: var(--orange-primary);
    border: 2px solid var(--black);
    box-shadow: 4px 4px 0 var(--black);
    color: var(--black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

  /* PALESTRANTES */
.section-palestrantes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    /* max-width: 359px; */
}
.section-palestrantes .cards h1 span {
    font-size: 3rem;
    line-height: 105% ;
    font-family: "Skranji", Open Sans;
   color: #9B3D97;
   font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: capitalize; 

}
.cards {
    width: 1180px;
    height: 1942px;
    flex-shrink: 0; 
    border-radius: 59px;
    background: #FFF; 
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: -8rem ;
    margin-bottom: 8rem;
    align-items: center;
    box-shadow: 9px 7px 8px 0px rgba(0, 76, 255, 0.25);
    position: relative;
    z-index: 10;
    top: 200px;
   /* max-width: 359px; */
   
}

.cards img{
    padding-left: 10px;
}
.card {
    width: 300px;
    height: 380px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px;
    font-size:20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2)!important;
    border: none!important;
    max-width: 359px;
}
.card:hover {
    background-color: var(--light-blue-primary);
}
.card-primary, .card-left, .card-right, .card-4 p {
    text-align: center;
    color: var(--black);
    font-weight: bold;
    font-size: 1.5rem;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 400px;
    margin-top: 20px;
    align-items: center;
    
}
.card-topo {
    width: 69%;
    margin-top:2.5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-primary{
    display: grid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 69%;
    height: 466px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #00D1FF;
    box-shadow: 9px 7px 8px 0px rgba(20, 99, 247, 0.25);
    border: 1px solid;
}  
.card-primary .img-palestrante {
    
    width: 55%;
    height: 80%;
}
.card-primary .img-palestrante img {
    width: 100%;
    height: 90%;
   max-width: 100%;
}

.card-primary .card-content {
    
    width: 60%;
}

.card-primary h4{
    font-size: 17px;
    color: #FFF;
}

.card-primary h4 span{
    font-size: 17px;
    color: #EC4935;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    justify-content: right;
}

.card-primary p{
    font-size: 16px;
    color: #FFF;
    justify-content: right;
}

.card-primary img{
    width: 180px;
    height: 180px;
    margin-top: 10px;
    justify-content: right;

}

.card-left{
    width: 432px;
    height: 668px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #9B3D97;
    box-shadow: 14px 8px 11px 0px rgba(114, 1, 134, 0.25);
}

.card-left img{
    width: 180px;
    height: 180px;
    margin-top: 30px; 
}

.card-left h4{
    font-size: 16px;
    color: #FFF;
}

.card-left p{
    font-size: 16px;
    color: #FFF;
}

.card-left span{
    font-size: 16px;
    color: #F09;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    justify-content: right;
}
 .card-right{
    width: 432px;
    height: 606px;
    flex-shrink: 0;
    border-radius: 37px;
    background: #ED1167;
    box-shadow: 14px 8px 11px 0px rgba(213, 1, 132, 0.25);

}

.card-right img{
    width: 180px;
    height: 180px;
    margin-top: 30px; 
}
.card-right h4{
    font-size: 16px;
    color: #FFF;
}

.card-right h4 span{
    font-size: 16px;
    color: #0AA1DE;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    justify-content: right;
}

.card-right p{
    font-size: 16px;
    color: #FFF;
}
.palestrantes{
    max-width: 100vw;
    min-height: 350vh;
    position: relative;
    overflow-x: hidden;
    /* left:400px;
    right:400px; */
}
.fundo-palestrantes{
    min-width: 106%; 
    min-height: 100vh; 
    object-fit: fill;
    position: absolute; 
    z-index: 1; 
    top: 120px;
}

 /* PROGRAMAÇÃO*/
.programation-section .programacao .decoration {
    display: block;
    position: relative; 
}
.programation-section .programacao .decoration::after {
    content: '';
    background: url('../img/three-dashes.svg');
    top:-0.75rem ;
    position: absolute;
    height:36px;
    width:40px ;
}
.icons-programation {
    margin-top: 50px;
}
.programation-section .icons-programation img.ghost{
    width: 90px;
    height: 90px;
    align-items:center;
    display:flex;
}

/*******INICIO FOOTER******/
footer {
    border-bottom: 0;
    padding: 0rem 1.25rem 2rem;
    background: linear-gradient( var(--blue-weak),var(--blue-weak));
    font-family: 'Varela Round', sans-serif;
    /* border-color: var(--black);
    border-style: solid;
    border-width: 1px 0px 0px 0px; */
}
/*Estilo dos links*/
footer nav a {
    display: block;
    align-items: center;
}
/*Estilo dos links*/
footer a:hover {
opacity: 0.8;
color:#FFFF;

}
/*Estilo do h3*/
footer h3 {
    padding: 0.5rem;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    
}


/*FORMATAÇÃO GERAL*/
h3{
    font-family: "Exo 2", Opens Sans;
    color: #FFF;
}

p{
    font-family: "Exo 2", Opens Sans;
    font-size: 19px;
    color: #FFF;
    
    
}
h2 {
    font-size: 2.5rem;
}


/*Úteis*/

.mt-1 {
    margin-top: 1rem;
    align-items: center;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
   
}
.mb-2 {
    margin-bottom: 2rem;
}
.mr-1{
    margin-right: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-primary {
    color: var(--white);
}
.text-center {
    text-align: center;
}
.h1-white {
    color: var(--black);
}

/*Responsividade*/
@media screen and (min-width: 40rem) {
    header nav {
       display: block;
       text-align: center;
    }
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card:nth-child(2n) {
        margin-top: 1rem;
    }

}
@media screen and (max-width: 40rem) {
    header {
        height: 120px;
        width: 200px;
        align-self:baseline;
    }
}
@media screen and (min-width: 40rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header img, 
    header nav,
    header .button {
        margin: 0;
    }
}
@media screen and (min-width: 72rem) {
    h1,h2,h4 {
        font-size: 4rem;
    }
    
    .container {
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 72rem;

    }
    .container.row-reverse {
        flex-direction: row-reverse;
    }
    .about-column {
        flex: 3;
    }
    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 3;

    }
    .news-letter-form {
        flex: 1;
    }

}

/* @media screen and (min-width:320rem) {
    .cards{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200px;
    }
    .card{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200px;
    }
    .card-primary{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200px;
    }
    p{
        font-size: 2rem;
    }
    .img-palestrante{
        margin: 0 auto;
        width: 32rem;
        padding:0px 0px 0px 10px;
        /* height: ; */
    /* }
    .card-right{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        min-width: 89px; 
    }
    .section-palestrantes{
        text-align: center;
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 100rem;
    }
    .card-topo{
        width: 40px;
    }
    
}
@media screen and (max-width:1020px) {
    .cards{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200rem;
    }
    .card{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200rem;
    }
    .card-primary{
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 200rem;
    }
    p{
        font-size: 2rem;
    }
    .img-palestrante{
        margin: 0 auto;
        width: 32rem;
        padding:0px 0px 0px 10px;
         /* height: ; */
    /* }
    .card-right {
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        min-width: 88rem; 
    }
    .section-palestrantes{
        text-align: center;
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 100rem;
    }
    .card-topo{
        width: 40px;
    }
    
} */
/* 
.carrossel{
    max-width: 400px;
    max-height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-pink-primary);
}

.secCarrossel{
    background-color: var(--light-pink-primary);
}*/
