/*Configuraçõe padrões para o site todo*/
* {
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
    padding: 0;
}
/*Váriaveis das cores*/
:root {
    --brown-primary: #A27C16;
    --brown-secondary: #4A330F;
    --yellow-primary: #F2ED4D;
    --yellow-secondary: #D9D445;
    --orange-primary: #FDBF28;
    --orange-secondary: #FAAA38;
    --red-primary: #F98450;
    --red-secondary: #EC4935;
    --light-pink-primary: #F9C4D8;
    --light-pink-secondary: #F391BC;
    --pink-primary: #ED1167;
    --pink-secondary: #CB1F47;
    --light-blue-primary: #35C5F0;
    --light-blue-secondary: #0AA1DE;
    --blue-primary: #2097D4;
    --blue-secondary: #177DAF;
    --purple-primary: #9B3D97;
    --purple-secondary: #672D8F;
    --black:#000;
    --gray-primary: #959494;
    --gray-secondary: #242021;
    --white:#fff;
}
/*Estilo do corpo do site*/
body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}
header,
.hero-section,
.courses-section,
footer {
    border-color: var(--black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}
/*Estilo a logo*/
header img {
    display: block;
    margin: 1rem auto;
}
/*Estilo do grupo de 'links'*/
header nav {
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0 ;
}
/*Estilo dos 'links'*/
nav a {
    color: var(--black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}
header nav a:nth-child(2n-1){
    text-align: right;
}
.button {
    background-color: var(--orange-primary);
    border: 2px solid var(--black);
    box-shadow: 4px 4px 0 var(--black);
    color: var(--black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.hero-section {
    padding-right: 0;
    padding-bottom: 16rem;
}
.hero-section img{
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}
h1 {
    font-size: 3rem;
    line-height: 105% ;
}
h2 {
    font-size: 2.5rem;
}
.hero-section .button {
    position: relative;
}
.hero-section .button::after {
    content: '';
    background: url('../img/arrow-curve.svg');
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}
.decoration {
    display: block;
    position: relative; 
}
.decoration::after {
    content: '';
    background: url('../img/three-dashes.svg');
    top:-0.75rem ;
    position: absolute;
    height:36px;
    width:40px ;
}
.hero-section p {
    font-size: 1.25rem;
    padding-right:1.25rem;
}

.courses-section {
    padding-bottom: 8rem ;

}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: -8rem ;
    margin-bottom: 4rem;
}

.card-1{
    /* card */
    background-color: var(--blue-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    /* card:nth-child(2n) */
    align-self: end ;
    background-color: var(--orange-secondary);

    /* card strong */
    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;
    align-items: center;

    /* card a */
    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}

.card-2{
    background-color: var(--pink-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--blue-secondary);

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}
.card-3{
    background-color: var(--blue-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--red-secondary);

    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}
.card-4{
    background-color: var(--orange-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--purple-secondary);

    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}
.card-5{
    background-color: var(--red-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--blue-secondary);

    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}
.card-6{
    background-color: var(--purple-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--light-pink-secondary);

    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}
.card-7{
    background-color: var(--blue-primary);
    border: var(--black);
    box-shadow: 4px 4px 0 var(--black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;

    align-self: end ;
    background-color: var(--orange-secondary);

    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;

    display: block;
    margin: 2rem 0 0 auto ;
    width: fit-content;
}

.imagem{
    width: 108px;
    height: 108px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}
.textoT{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
    align-items: center;
    text-align: center;
}
/*Rodapé*/
footer {
    border-bottom: 0;
    padding: 1rem 1.25rem 2rem;
    background-color: #2097D4;
    font-family: 'Varela Round', sans-serif;
}
/*Estilo dos links*/
footer nav a {
    display: block;
    align-items: center;
}
/*Estilo dos links*/
footer a:hover {
opacity: 0.8;
color:#FFFF;

}
/*Estilo do h3*/
footer h3 {
    padding: 0.5rem;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    
}





/*Úteis*/

.mt-1 {
    margin-top: 1rem;
    align-items: center;
}


.mt-2 {
    margin-top: 2rem;
}


.mb-1 {
    margin-bottom: 1rem;
   
}


.mb-2 {
    margin-bottom: 2rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-primary {
    color: var(--pink-secondary);
}
.text-center {
    text-align: center;
}
/*Responsividade*/
@media screen and (min-width: 40rem) {
    header nav {
       display: block;
       text-align: center;
    }
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card:nth-child(2n) {
        margin-top: 1rem;
    }

}
@media screen and (min-width: 40rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header img, 
    header nav,
    header .button {
        margin: 0;
    }

}
@media screen and (min-width: 72rem) {
    h1,h2 {
        font-size: 4rem;
    }
    
    .container {
        display: flex;  
        align-items: center;
        margin: 0 auto;   
        max-width: 72rem;

    }
    .container.row-reverse {
        flex-direction: row-reverse;
    }
    .about-column {
        flex: 3;
    }
    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 3;

    }
    .news-letter-form {
        flex: 1;
    }

}